@using Entities.Concrete
@using Entities.Concrete.TableModels
@model List<CartItemDto>
@{
    var user = (ApplicationUser)ViewData["User"];
}

<!-- breadcrumb start -->
<div class="cl-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="cl-breadcrumb-box">
                    <h1>Cart</h1>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="javascript:;">Cart</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- cart start -->
<div class="cl-cart spacer-bottom spacer-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="cl-cart-list">
                    <div class="cl-cart-list-title">
                        <h3>My Bag</h3>
                    </div>
                    <ul>
                        @if (Model!=null)
                        {
                            @foreach (var item in Model)
                            {
                                if (item.UserId == user.Id)
                                {
                                    <li>
                                        <div class="cl-cart-list-wrap">
                                            <div class="cl-product-detail-img">
                                                <img src="@item.ImgUrl" alt="image">
                                            </div>
                                            <div class="cl-product-details">
                                                <a href="javascript:;" class="cl-product-title">@item.CategoryName</a>
                                                <h4 class="cl-product-price"><span>@item.Price</span> @item.NewPrice</h4>
                                                <div class="cl-add-product">
                                                    <div class="cl-product-count">
                                                        <button class="cl-sub-count"><i class="fas fa-minus"></i></button>
                                                        <input type="number" value="@item.Quantity" min="1">
                                                        <button class="cl-add-count"><i class="fas fa-plus"></i></button>
                                                    </div>
                                                    <div class="cl-wishlist">
                                                        <i class="far fa-heart"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cl-product-remove">
                                                <i class="fas fa-times"></i>
                                            </div>
                                        </div>
                                    </li>
                                }

                            }
                        }
                      
                       

                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cl-cart-total">
                    <div class="cl-cart-list-title">
                        <h3>Total</h3>
                    </div>
                    <div class="cl-cart-price">
                        <ul>
                            <li>
                                Sub Total <span>$50.00</span>
                            </li>
                            <li>
                                Delivery Charges <span>$5.00</span>
                            </li>
                            <li>
                                GST <span>$2.00</span>
                            </li>
                            <li>
                                Grand Total <span>$57.00</span>
                            </li>
                        </ul>
                    </div>
                    <button class="cl-btn">Checkout</button>
                    <div class="cl-cart-accept-title">
                        <h3>We Accept</h3>
                    </div>
                    <img src="/assets/images/payment.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- cart end -->
<!-- features start -->
<div class="cl-features">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="cl-feature-box">
                    <div class="cl-feature-img">
                        <img src="/assets/images/fast-delivery.png" alt="image">
                    </div>
                    <div class="cl-feature-text">
                        <a href="javascript:;" class="cl-feature-title">Fast Delivery</a>
                        <p>lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="cl-feature-box">
                    <div class="cl-feature-img">
                        <img src="assets/images/genuine.png" alt="image">
                    </div>
                    <div class="cl-feature-text">
                        <a href="javascript:;" class="cl-feature-title">Genuine Product</a>
                        <p>lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="cl-feature-box">
                    <div class="cl-feature-img">
                        <img src="assets/images/customer-service.png" alt="image">
                    </div>
                    <div class="cl-feature-text">
                        <a href="javascript:;" class="cl-feature-title">24X7 Support</a>
                        <p>lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="cl-feature-box">
                    <div class="cl-feature-img">
                        <img src="/assets/images/return.png" alt="image">
                    </div>
                    <div class="cl-feature-text">
                        <a href="javascript:;" class="cl-feature-title">7 Days Return</a>
                        <p>lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>