@model List<Contact>;


<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <form action="Contact/Create" method="get">
                    <p>
                        <button class="btn btn-primary">@DefaultConstantValue.DEFAULT_BUTTON_NAME_ADD</button>
                    </p>
                </form>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Message</th>
                            <th>Is Answer</th>
                            <th>Created Date</th>
                            <th>Last Update Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Surname</td>
                                <td>@item.Message</td>
                                <td>@(item.IsAnswer? "Answered": "No Answer")</td>
                                <td>@item.CreatedDate</td>
                                <td>@item.LastUpdateDate</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a> |
                                    <a item-value="@item.Id" item-title="@item.Name" class="btnDelete">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(".btnDelete").click(function (e) {
            Swal.fire({
                title: '@UIMessage.DEFAULT_WARNING_CONFIRM_MESSAGE',
                text: "@UIMessage.DEFAULT_WARNING_RETURN_MESSAGE",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonText: "@DefaultConstantValue.DEFAULT_BUTTON_NAME_CANCEL",
                cancelButtonColor: '#d33',
                confirmButtonText: '@DefaultConstantValue.DEFAULT_BUTTON_NAME_CONFIRM '
            }).then((result) => {
                if (result.isConfirmed) {
                    let itemId = e.currentTarget.attributes[0].value;
                    let itemTitle = e.currentTarget.attributes[1].value;
                    $.ajax({
                        method: "POST",
                        url: "contact/delete/",
                        data: {
                            id: itemId
                        }
                    })
                    Swal.fire({
                        title: '@UIMessage.DEFAULT_SUCCESS_DELETE_MESSAGE',
                        text: "'" + itemTitle + "' @UIMessage.DEFAULT_SUCCESS_DELETE_MESSAGE",
                        icon: 'success',

                    }).then((result) => {
                        window.location = "contact"
                    })

                }
            })
        })
    </script>


}