@model ShopViewModel

<!-- breadcrumb start -->
<div class="cl-breadcrumb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="cl-breadcrumb-box">
                    <h1>Cycling Store</h1>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="javascript:;">Store</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- featured products start -->
<div class="cl-products-store spacer-top-less wow animate__slideInUp" data-wow-delay="0.5s">
    <div class="container">
        <div class="row">
            @{
                string col = "col-lg-9";
                @if (Model.BigSales.Count == 0)
                {
                    col = "col-lg-12";
                }
            }
            <div class="@col col-md-12">
                <div class="row">
                    @foreach (var item in Model.Cycles)
                    {

                        <div class="col-xl-3 col-md-6">
                            <div class="cl-product-box wow fadeInUp">
                                <div class="cl-product-img">
                                    <img src="@item.ImgUrl" alt="image">
                                    <div class="cl-product-cart">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 21">
                                            <path d="M1619.26,77.86a2.069,2.069,0,1,0,2.11,2.069A2.095,2.095,0,0,0,1619.26,77.86Zm0.63,2.069a0.628,0.628,0,0,1-.63.616,0.616,0.616,0,1,1,0-1.231A0.629,0.629,0,0,1,1619.89,79.929Zm6.03-2.069a2.069,2.069,0,1,0,2.1,2.069A2.088,2.088,0,0,0,1625.92,77.86Zm0.62,2.069a0.625,0.625,0,1,1-.62-0.616A0.619,0.619,0,0,1,1626.54,79.929Zm5.17-15.106a1.267,1.267,0,0,0-.98-0.46H1614.4l-0.3-1.422a1.244,1.244,0,0,0-.74-0.892l-2.32-.991a0.759,0.759,0,0,0-.57-0.009,0.721,0.721,0,0,0-.42.943,0.7,0.7,0,0,0,.4.4l2.22,0.948,2.54,12.106a1.275,1.275,0,0,0,1.25.995h12.69a0.727,0.727,0,1,0,0-1.453h-12.52l-0.23-1.072h12.85a1.264,1.264,0,0,0,1.24-1l1.48-7.059A1.191,1.191,0,0,0,1631.71,64.823Zm-1.24.994-1.39,6.646H1616.1l-1.4-6.646h15.77Z" transform="translate(-1610 -61)"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="cl-product-content">
                                    <p class="cl-product-title"> @item.CategoryName</p>
                                    <a href="javascript:;" class="cl-product-title">@item.Model</a>
                                    @if (item.PrecentOfDiscount == 0)
                                    {
                                        <h4 class="cl-product-price"> $@item.Price</h4>
                                    }
                                    else
                                    {
                                        <h4 class="cl-product-price"><span>$@item.Price</span> $@item.NewPrice</h4>

                                    }

                                    <ul class="cl-product-rating">
                                        @for (int i = 0; i < item.StarRating; i++)
                                        {
                                            <li><i class="far fa-star"></i></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @foreach (var item in Model.BigSales)
            {
                <div class="col-lg-3 col-md-12">
                    <div class="cl-product-ads">
                        <img src="@item.ImgUrl" alt="images">
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- featured products end -->
<!-- Trending products start -->
<div class="cl-products cl-products-slider spacer-top-less wow animate__slideInUp" data-wow-delay="0.5s">
    <div class="container">
        <div class="cl-heading">
            <h1>Trending Products</h1>
            <p>Check out our popular products!</p>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="swiper-container wow fadeInUp" data-wow-delay="0.2s">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.Cycles)
                        {
                            if (item.IsTrend)
                            {
                                <div class="swiper-slide">
                                    <div class="cl-product-box">
                                        <div class="cl-product-img">
                                            <img src="@item.ImgUrl" alt="image">
                                            <div class="cl-product-cart">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 21">
                                                    <path d="M1619.26,77.86a2.069,2.069,0,1,0,2.11,2.069A2.095,2.095,0,0,0,1619.26,77.86Zm0.63,2.069a0.628,0.628,0,0,1-.63.616,0.616,0.616,0,1,1,0-1.231A0.629,0.629,0,0,1,1619.89,79.929Zm6.03-2.069a2.069,2.069,0,1,0,2.1,2.069A2.088,2.088,0,0,0,1625.92,77.86Zm0.62,2.069a0.625,0.625,0,1,1-.62-0.616A0.619,0.619,0,0,1,1626.54,79.929Zm5.17-15.106a1.267,1.267,0,0,0-.98-0.46H1614.4l-0.3-1.422a1.244,1.244,0,0,0-.74-0.892l-2.32-.991a0.759,0.759,0,0,0-.57-0.009,0.721,0.721,0,0,0-.42.943,0.7,0.7,0,0,0,.4.4l2.22,0.948,2.54,12.106a1.275,1.275,0,0,0,1.25.995h12.69a0.727,0.727,0,1,0,0-1.453h-12.52l-0.23-1.072h12.85a1.264,1.264,0,0,0,1.24-1l1.48-7.059A1.191,1.191,0,0,0,1631.71,64.823Zm-1.24.994-1.39,6.646H1616.1l-1.4-6.646h15.77Z" transform="translate(-1610 -61)"></path>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="cl-product-content">
                                            <a href="javascript:;" class="cl-product-title">@item.Model</a>
                                            @if (item.PrecentOfDiscount == 0)
                                            {
                                                <h4 class="cl-product-price"> $@item.Price</h4>
                                            }

                                            else
                                            {
                                                <h4 class="cl-product-price"><span>$@item.Price</span> $@item.NewPrice</h4>

                                            }
                                            <ul class="cl-product-rating">
                                                @for (int i = 0; i < item.StarRating; i++)
                                                {
                                                    <li><i class="far fa-star" style="color:red;"></i></li>

                                                }

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                    </div>
                </div>
            </div>
            <!-- Trending products end -->
            <!-- team start -->
            <div class="cl-team spacer-top-less">
                <div class="container">
                    <div class="cl-heading">
                        <h1>Top Racers</h1>
                        <p>The Story of Strength and Endurance</p>
                    </div>

                    <div class="row">

                        @foreach (var item in Model.BestRacers)
                        {
                            <div class="col-lg-3 col-md-6">
                                <div class="cl-team-box wow fadeInUp" data-wow-delay="0.2s">
                                    <div class="cl-team-img">
                                        <img src="@item.ImgUrl" alt="image">
                                    </div>
                                    <div class="cl-team-content">
                                        <h2>@item.Surname  @item.Name</h2>
                                        <div class="cl-team-hide-content">
                                            <p>@item.Info</p>
                                            <ul class="cl-social-icons">
                                                <li>
                                                    <a href="@item.FacebookLink"><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li>
                                                    <a href="@item.InstagramLink"><i class="fab fa-instagram"></i></a>
                                                </li>

                                                <li>
                                                    <a href="@item.LinkedinLink"><i class="fab fa-linkedin-in"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <!-- team end -->
